:root {
    --buttonNeutral0: #ffffff;
    --buttonPrimary500: #368AEB;
    --buttonPrimary600: #579EEE;
    --danger100: #181826;
    --danger200: #4a4a6a;
    --danger500: #ee5e52;
    --danger600: #ee5e52;
    --danger700: #ee5e52;
    --neutral0: #151C26;
    --neutral100: #0B111A;
    --neutral100trans: #0b111ac8;
    --neutral150: #171C25;
    --neutral200: #252E3A;
    --neutral300: #35404E;
    --neutral400: #49535F;
    --neutral500: #656D78;
    --neutral600: #818891;
    --neutral700: #9DA2A9;
    --neutral800: #B8BCC1;
    --neutral900: #DFE1E3;
    --neutral980: #ECECEC;
    --neutral940: #F7F7F7;
    --neutral920: #fafafa;
    --neutral1000: #ffffff;
    --primary100: #122E4E;
    --primary200: #1B4576;
    --primary500: #368AEB;
    --primary600: #579EEE;
    --primary700: #79B1F2;
    --secondary100: #181826;
    --secondary200: #1B4576;
    --secondary500: #66b7f1;
    --secondary600: #66b7f1;
    --secondary700: #b8e1ff;
    --success100: #181826;
    --success200: #4a4a6a;
    --success500: #5cb176;
    --success600: #5cb176;
    --success700: #c6f0c2;
    --warning100: #181826;
    --warning200: #4a4a6a;
    --warning500: #f29d41;
    --warning600: #f29d41;
    --warning700: #fae7b9;
}